[project]
	description = Packaging content for keystone (distgit)
[access "refs/*"]
  read = group keystone-distgit-core
  owner = group keystone-distgit-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group keystone-distgit-core
	label-Code-Review = -2..+2 group keystone-distgit-ptl
	label-Verified = -2..+2 group keystone-distgit-ptl
	label-Workflow = -1..+1 group keystone-distgit-core
	label-Workflow = -1..+1 group keystone-distgit-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group keystone-distgit-ptl
	read = group keystone-distgit-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group keystone-distgit-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
